<header class="jumbotron text-center">
<h1>{{title}}</h1>

</header>
<nav class="col-md-13  bg-dark row p-2 m-2 ">
  
<div ><a class="nav-item nav-link text-white" routerLink="getbyid">ViewBy ID</a></div>
<div><a class="nav-item nav-link text-white" routerLink="getbydept">ViewBy Dept</a></div>
<div><a class="nav-item nav-link text-white" routerLink="getall">View All Employeee</a></div>
<div><a class="nav-item nav-link text-white" routerLink="addemployee">Add Employee</a></div>

</nav>
<router-outlet></router-outlet>